{% include "header" %}

<a id="back" href="/">&lt; Back</a>

<h2>Mods Search</h2>
<p>
	Search for mods. <a href="/mods/">All Mods</a>.
</p>

<form action="/mods/" method="get">
	<input type="text" name="q" placeholder="Search" value="{{ search }}">
	<input type="submit" value="Go">
</form>

<ul>
{% for mod in mods %}
	<li>
		<a href="{{ mod.forum_url }}">{{ mod.title }}</a> [{{ mod.basename }}] by {{ mod.author }}
		{% if mod.type == 3 %}<b style="color:#ff3;">WIP!</b>{% endif %}<br />
		<p>
			{{ mod.description | truncate: 100, '…' }}
		</p>
		<a href="{{ mod.download_link }}">Download</a> |
		<a href="{{ mod.forum_url }}">Forum Topic</a> |
		<a href="/status/?a={{ mod.author }}">{{ mod.author }}'s mods</a>
	</li>
{% endfor %}
</ul>

{% include "footer" %}
