{% include "header" %}

<h2>Author Search</h2>
<p>
	Enter your forum username to find your mods.
</p>

<form action="/status/" method="get">
	<input type="text" name="a" placeholder="Forum Username">
	<input type="submit" value="Go">
</form>

<h2>Mod List Information</h2>

<p>
	<a href="/blacklist/">Blacklist</a><br />
	<a href="/verified/">Verified Links</a>
</p>

<h2>Mods Search</h2>
<p>
	Search for mods. <a href="/mods/">All Mods</a>.
</p>

<form action="/mods/" method="get">
	<input type="text" name="q" placeholder="Search" value="{{ search }}">
	<input type="submit" value="Go">
</form>

<h2>Top ten most downloaded mods</h2>

<ul>
{% for mod in mods %}
	<li>
		<span style="padding-right:10px">{{ forloop.index }})</span>
		<a href="{{ mod.forum_url }}">{{ mod.title }}</a> by {{ mod.author }}<br />
		<p>
			{{ mod.description | truncate: 100, '…' }}
		</p>
		<a href="{{ mod.download_link }}">Download</a> [{{ mod.downloads }}] |
		<a href="{{ mod.forum_url }}">Forum Topic</a> |
		<a href="/status/?a={{ mod.author }}">{{ mod.author }}'s mods</a>
	</li>
{% endfor %}
</ul>

{% include "footer" %}
