{% include "header" %}

<a id="back" href="/">&lt; Back</a>

<h2>Author Search</h2>
<p>
	Enter your forum username to find your mods.
</p>

<form action="/status/" method="get">
	<input type="text" name="a" placeholder="Forum Username" value="{{ author }}">
	<input type="submit" value="Go">
</form>

{% if error %}
<p class="wrong">{{ error }}</p>
{% endif %}

<ul>
{% for mod in mods %}
	{% if mod.msg != "added" %}
		<li class="wrong">
			<a href="{{ mod.forum_url }}">{{ mod.title }}</a><br />
			{{ mod.msg }}
		</li>
	{% endif %}
{% endfor %}
{% for mod in mods %}
	{% if mod.msg == "added" %}
		<li class="right">
			<a href="{{ mod.forum_url }}">{{ mod.title }}</a><br />
			added
		</li>
	{% endif %}
{% endfor %}
</ul>

{% include "footer" %}
